<div class="headline">
<!-- <div data-bg-src="http://hexinpeter.com/images/home-effect.jpg"> -->
<div class="container">
<h1>A tour in the world's largest furniture wholesale market</h1>
</div>
</div>
</div>

<iframe width="600" height="450" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=Luofugong%20International%20Furniture%20Exposition%20&key=AIzaSyC4V3F1ThKlVZd6-LbAB3TzXz9_7cBX_vg&zoom=14"></iframe>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Luofugong%20International%20Furniture%20Exposition%20&zoom=13&size=600x300&maptype=roadmap" %>

<p>Shunde Lecong Furniture Market was established in 2003. The market -- located at Lecong town, Shunde district, Foshan city, Guangdong province, China -- extends more than 5km. There are over 3,300 domestic and foreign furniture dealers and more than 1,500 furniture manufacturers. It includes more than 200 modern furniture shopping malls. Among them, the major ones are Shunlian Furniture Store Northern District, Lecong Macalline Furniture Exhibition Centre, Shunde Empire Furniture, Luofugong International Furniture Exposition & Exhibition Centre.</p>
<!-- google maps -->

<h2>Variety</h2>
<p>There are displays of over 20,000 types of furniture and products ranging from living room furniture, dining room furniture, bedroom furniture, kitchen furniture, hotel furniture, hotel mattress, contract furniture, restaurant furniture, cafe chairs, bar stools, bathroom furniture, sanitary ware, furniture accessories, material and hardware.</p>
<!-- market-variety image -->
<p>The market is open year round with furniture trading more than USD1 billion each year.</p>

<h2>Price</h2>

