<div class="headline">
<!-- <div data-bg-src="http://hexinpeter.com/images/home-effect.jpg"> -->
<div class="container">
<h1>A tour in the world's largest furniture wholesale market</h1>
</div>
</div>
</div>

<div class="china-tour gap-space">
<div class="container">
<div class="row">
<div class="col-sm-6">
<h2>China Buying Tour</h2>
<p>You focus on your house design. We deliver you the best buying experience with full-time tour guide provided.</p>
</div>
<div class="col-sm-4 col-sm-offset-1">
<%= image_tag('china-market-ps.jpg', class: "img-rounded img-responsive") %>
</div>
</div>
</div>
</div>

<p>Shunde Lecong Furniture Market was established in 2003. The market -- located at Lecong town, Shunde district, Foshan city, Guangdong province -- extends more than 5km. There are over 3,300 domestic and foreign furniture dealers and more than 1,500 furniture manufacturers.</p>
<!-- google maps -->

<h2>Variety</h2>
<p>There are displays of over 20,000 types of furniture and products ranging from living room furniture, dining room furniture, bedroom furniture, kitchen furniture, hotel furniture, hotel mattress, contract furniture, restaurant furniture, cafe chairs, bar stools, bathroom furniture, sanitary ware, furniture accessories, material and hardware.</p>
<!-- market-variety image -->

<h2>Price</h2>
<p>