$siteColor : #12232B;

.headline {
  box-sizing: border-box;
  height: 75%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-align: left;
    margin-top: 13%;
  }
}

// for tablet devices and larger
@media (min-width: 768px) { 
  .headline {
    height: 500px;
    h1 {
    text-align: center;
    }
  }

  .gap-space {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

// for small devices
@media (max-width: 768px) {
  .container {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

