$siteColor : #12232B;
$secondColor: #3FF291;

.headline {
  box-sizing: border-box;
  height: 75%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-align: left;
    margin-top: 13%;
  }
}

.gap-space {
  padding-top: 10%;
  padding-bottom: 10%;
}


// custom progress tracker
.prog-tracker {
  padding-top: 2em;
  padding-bottom: 1em;

  .col-xs-4 {
    padding: 1em 0.2em;
    text-align: center;
  }

  .col-xs-4.prog-complete {
    border-bottom: 4px solid $secondColor;
  }

  .col-xs-4.prog-focus {
    background-color: rgba(198, 198, 198, 0.26);
  }

  .col-xs-4.prog-todo {
    border-bottom: 4px solid silver;
    color: silver;
  }
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

form {
  // label.essential::after {
  //   content: '*';
  // }
  // label.essential span {
  //   color: red;
  // }

  label.essential span::before {
    content: " ";
  }

  #customer_addr_state {
    width: 80px;
  }

  #customer_post_code {
    width: 100px;
  }

  label[for="customer_addr_line_1"] {
    min-width: 140px;
  }

  label.error {
    color: red;
    min-width: 300px;
  }
}

a:hover {
  background-color: transparent !important;
}


// for tablet devices and larger
@media (min-width: 768px) { 
  .headline {
    height: 500px;
    h1 {
    text-align: center;
    }
  }

  .gap-space {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

// for small devices
@media (max-width: 768px) {
  .container {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

