/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$siteColor : #12232B;
$siteColorLight: #3F7792;
$inactiveLink: #777;

html, body {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  background-color: $siteColor;
  border-radius: 0px !important;

  .dropdown-menu {
    background-color: $siteColor;
    li a {
      color: $inactiveLink;
    } 
  }
}

.footer {
  background-color: $siteColor;
  padding-top: 1%;
  padding-bottom: 1%;
  a {
    color: white;
  }
}