// Place all the styles related to the ChinaTours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$siteColor : #12232B;
$panelColor: #F0F0F0;
$secondColor: #3FF291;

.china_tours{
  .headline {
    background-image: image-url('china-tour-headImage.jpg');

    p {
      padding-top: 1em;
      font-size: large;
      color: #E2F2EF;
    }
  }

  .before-trip, .after-trip{
    padding-bottom: 1em;
  }

  .book-service, .tour-submit-button {
    padding-top: 2em;
    padding-bottom: 3em;
  }

  .service-content {
    margin-left: 2em;
  }

  .service-option {
    position: absolute;
  }

  .fa.fa-check {
    color: #3FF291;
  }

  .moreinfo {
    display: none;
    padding-left: 2em;
  }

  .cost .diy::before {
    content: "Estimated DIY Cost: "
  }

  .cost .service-charge::before {
    content: "Service Charge: "
  }

  .cost span {
    display: block;
  }

  #service-fee {
    margin-top: 2em;
  }
  #service-fee-header {
    position: absolute;
    width: 300px;
    background-color: $siteColor;
    border-radius: 10px 10px 0px 0px;
    color: #EFEFEF;
    padding-left: 15px;
    padding-right: 15px;
  }
  #service-fee-content {
    width: 300px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(198, 198, 198, 0.26);
    border-radius: 10px 10px 10px 10px;
    .item {
      padding-bottom: 10px;
      p {
        margin-bottom: 0px;
      }
      .item-price {
        text-align: right;
      }
      .item-name {
        font-weight: bold;
      }
    }
    #total-fee {
      text-align: right;
      span#fee {
        border-top: 2px solid;
      }
      span#total-fee-head {
        font-weight: bold;
      }
    }
  }

  .btn {
    margin-left: 30%;
  }

  .booking-form {
    // display: none;
    margin-top: 2em;
    margin-bottom: 2em;
  }


  @media (min-width: 992px) {
    .service-info, .book-service {
      padding-left: 5%;
    }
  }
}





















