// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$siteColor : #12232B;
$panelColor: #F0F0F0;

.home{
  .headline {
    background-image: image-url('home-effect.jpg');
  }

  .china-tour {
    text-align: center;
    background-color: $panelColor;

    img {
      margin: auto;
    }
  }

  .manufacture {
    text-align: center;
    img {
      margin: auto;
    }
  }

  .shipping {
    background-color: $panelColor;
    text-align: center;
    img {
      margin: auto;
    }
  }

}