// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$siteColor : #12232B;
$panelColor: #F0F0F0;

.headline {
  background-image: image-url('home-effect.jpg');
  box-sizing: border-box;
  height: 75%;
  color: white;
  h1 {
    text-align: left;
    margin-top: 13%;
  }
}

.gap-space {
  padding-top: 10%;
  padding-bottom: 10%;
}

.china-tour {
  text-align: center;
  background-color: $panelColor;

  img {
    margin: auto;
  }
}

.manufacture {
  text-align: center;
  img {
    margin: auto;
  }
}

.shipping {
  background-color: $panelColor;
  text-align: center;
  img {
    margin: auto;
  }
}



// for tablet devices and larger
@media (min-width: 768px) { 
  .headline {
    height: 500px;
    h1 {
    text-align: center;
    }
  }

  .gap-space {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

// for small devices
@media (max-width: 768px) {
  .container {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
