// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$siteColor : #12232B;
$panelColor: #F0F0F0;

.home{
  .headline {
    background-image: image-url('mainpagehigh.jpg');
  }

  .china-tour {
    text-align: center;
    background-color: $panelColor;

    img {
      margin: auto;
    }
  }

  .manufacture {
    text-align: center;
    img {
      margin: auto;
    }
  }

  .shipping {
    background-color: $panelColor;
    text-align: center;
    img {
      margin: auto;
    }
  }

  .button-link {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
  }

  p.coming-soon {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18px;
    padding: 10px 30px;
    background-color: rgb(226, 226, 226);;
    display: inline-block;
    color: rgba(0, 0, 0, 0.64);
  }
}

















