<footer class="footer">
<div class="container">
    <div class="col-sm-4">
      <p>© Copyright - 澳洲购物网</p>
      <p>ABN: 29412093352</p>
      <div class="contact">
        <p>Email: <%= mail_to("support@gouwuwang.com.au", "support@gouwuwang.com.au", class: 'no-styling') %></p>
        <p>Phone: <a class="no-styling" href="tel:+61412345678"><%= number_to_phone(412345678, country_code: 61, delimiter: " ") %></a></p>
      </div>
      </div>
    <div class="col-sm-4">
      <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag('facebook.jpeg', class: "img-rounded img-responsive") %>
      </div>

      <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag('wechatcode.jpg', class: "img-rounded img-responsive") %>
      </div>
    </div>

    <div class="col-sm-4">
      <address>
      Address:</br>
      66 King St</br>
      Melbourne VIC 3000</br>
      Australia
      </address>
    </div>

    <div class="col-sm-4">
      <div class="fb-page" data-href="https://www.facebook.com/azgouwu" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
      <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/azgouwu"><a href="https://www.facebook.com/azgouwu">澳洲购物网</a></blockquote>
      </div>
      </div>
    </div>

</div>
</footer>


